/* About Layout */

/* About Image */
.about_img{
    width:300px;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    justify-self: center; /* 自适应居中 */
    align-self: center;
}

/* About Text */
.about_description{
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--mb-2-5);
}

.about_info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about_info-name{
    font-size: var(--smaller-font-size);
}

.about_info-title,
.about_info-name{
    display: block;
    text-align: center;
}

/* About Button */
.about_buttons{
    display: flex;
    justify-content: center;
}

