/* Night Button */
.nav_btn{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.change-theme_icon{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-left: var(--mb-1);
    cursor: pointer;
    transition: all .3s ease;
}

.change-theme_icon:hover{
    color: var(--first-color);
}

/* Night Effects */
body.dark-theme{
    /* Colors */
    --hue-color: 230; /* Blue */

    /* HSL Color Mode */
    --first-color-second:  hsl(var(--hue-color), 30%, 8%);
    --title-color:  hsl(var(--hue-color), 8%, 95%);
    --text-color:  hsl(var(--hue-color), 8%, 75%);
    --input-color:  hsl(var(--hue-color), 29%, 16%);
    --body-color:  hsl(var(--hue-color), 28%, 12%);
    --container-color:  hsl(var(--hue-color), 29%, 16%);
    --container-color-second: hsl(var(--hue-color), 30%, 57%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --border-color: hsl(var(--hue-color), 26%, 20%);
}