/* Experience Layout */

/* Experience Data */
.experiences_data{
    display: grid;
    grid-template-columns: 90% 10%;
    column-gap: 1.5rem;

    transition: all .5s ease;
}

/* Experiences Guide */
.experiences_guide{
    background-color: var(--body-color);
    border-radius: .5rem;
    padding: .5rem 1rem;

    transition: all .3s ease;
}

.experiences_guide:hover{
    background-color: var(--container-color-second);
    transition: all .3s ease;
}

/* Experiences Title */
.experiences_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experiences_icon{
    font-size: 1.75rem;
    color: var(--first-color);
}

.experience_open .experiences_icon{
    transform: rotate(180deg);
    transition: all .3s ease;
}

.experiences_subtitle{
    display: inline-block;
    font-weight: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.experiences_calender{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-2-5);
}

/* Experience Time Line */
.experiences_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
    transform: translate(0, 10px);
}

.experiences_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -6px);
}

/* Experience Description */
.experience_open .experiences_description{
    height: max-content;

    background-color: var(--container-color-second);
    border-radius: .5rem;
    padding: .7rem 1rem;

    transition: all .5s ease-in-out;
}

.experience_close .experiences_description{
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

/* Experience Title*/
.experience_title{
    color: var(--title-color);
    font-size: var(--normal-font-size);
}

.experience_subtitle{
    font-size: var(--small-font-size);
}