/* Home Layout */
.home_container{
    gap: 1rem;
}

.home_content{
    grid-template-columns: .5fr 3fr; /* 法码 */
    padding-top: 3.5rem;
    align-items: center;
}

/* Social Platform Icons */
.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: .5rem;
}

.home_social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
    transition: all .3s ease;
}

.home_social-icon img{
    height: 1.25rem;
    filter: invert(23%) sepia(84%) saturate(883%) hue-rotate(204deg) brightness(96%);
    transition: all .3s ease;
}

.home_social-icon:hover{
    color: var(--first-color-alt);
    font-size: 1.5rem;
    transition: all .3s ease;
}

.home_social-icon:hover img{
    filter: invert(24%) sepia(57%) saturate(786%) hue-rotate(194deg) brightness(94%);
    height: 1.5rem;
    transition: all .3s ease;
}

/* Profile Image */
.home_img{
    height: 300px;
    width: 300px;
    background-image: url("../images/profileImg.jpeg");
    background-position: center center;
    background-size: cover; /* 居中 */
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

/* Home Text */
.home_data{
    grid-column: 1/3;
}

.home_title{
    font-size: var(--big-font-size);
}

.home_subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_description{
    margin-bottom: var(--mb-2);
}

/* Home Scroll Down Button */
.home_scroll-button{
    color: var(--first-color);
    transition: all .3s ease;
}

.home_scroll-button:hover{
    transform: translateY(.25rem);
}

.home_scroll-mouse{
    font-size: 2rem;
}

.home_scroll-name{
    fonnt-size:var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow{
    font-size: 1.25rem;
}






