/* Small */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav_menu{
        padding: 2rem .25rem 4rem;
    }
}

/* Middle */
@media screen and (min-width: 568px){
    /* Home */
    .home_content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home_data{
        grid-column: initial;
    }

    .home_img{
        order: 1;
        justify-self: center;
    }

    .home_scroll{
        display: none;
    }

    /* Almost All Containers*/
    .highlight_container,
    .about_container,
    .skills_container,
    .portfolio_content,
    .contact_container,
    .footer_container{
        grid-template-columns: repeat(2, 1fr); /* What's This ?? */
    }

    /* Experiences */
    .experiences_container{
        width: 80%;
        margin: 0 10%;
    }

    /* Portfolio */
    .swiper-portfolio-icon{
        position: relative;
        top: -3rem;
    }

    .portfolio_thumb-bar:hover li{
        height: 20px;
    }

    .portfolio_thumb-bar li:hover{
        height: 155px;
    }

    .portfolio_thumb-bar .portfolio_partial-img:hover{
        height: 20px;
    }

}

/* Large */
@media screen and (min-width: 968px){
    /* Layout */
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }


    /* Text */
    .section_subtitle{
        margin-bottom: 4rem;
    }

    /* Header */
    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer_container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem); /* Open my eyes! */
        column-gap: 1rem;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }

    .nav_list{
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu{
        margin-left: auto;
    }

    .change-theme_icon{
        margin: .5rem;
    }

    /* Home */
    .home_container{
        row-gap: 5rem;
    }

    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home_img{
        width: 350px;
        height: 350px;
    }

    /* About */
    .about_container{
        column-gap: 5rem;
    }

    .about_img{
        width: 350px;
    }

    .about_description{
        text-align: initial;
    }

    .about_info{
        justify-content: space-between;
    }

    .about_buttons{
        justify-content: initial;
    }

    /* Portfolio */
    .highlight_container{
        column-gap: 3rem;
        padding-bottom: 3rem;
    }

    .portfolio_img{
        width: 400px;
    }

    .swiper-button-prev .swiper-portfolio-icon{
        left: -1rem;
    }

    .swiper-button-next .swiper-portfolio-icon{
        right: -1rem;
    }

    .portfolio_thumb-bar:hover li{
        height: 25px;
    }

    .portfolio_thumb-bar li:hover{
        height: 155px;
    }

    .portfolio_thumb-bar .portfolio_partial-img:hover{
        height: 30px;
    }

    /* Footer */
    .footer_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_bg{
        padding: 3rem 0 3.5rem;
    }

    .footer_links{
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer_socials{
        justify-self: flex-end;
    }

    .footer_copy{
        margin-top: 4.5rem;
    }
}
