/* Layout container */
.portfolio_container{
    overflow: initial;
}

/* Each portfolio container */
.portfolio_content{
    padding: 0 2rem;
}

/* Normal portfolio Image */
.portfolio_img{
    width: 95%;
    border-radius: .5rem;
    justify-self: center;
    border: 1px solid var(--border-color);
}

/* Portfolio 1 thumbnail bar image */
.portfolio_thumb-bar{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio_thumb-bar li{
    height: 40px;
    float: left;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}

.portfolio_thumb-bar img{
    width: 100%;
}

.portfolio_thumb-bar:hover li{
    height: 10px;
}

.portfolio_thumb-bar li:hover{
    height: 185px;
}

.portfolio_thumb-bar .portfolio_partial-img:hover{
    height: 130px;
}

/* Portfolio data */
.portfolio_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio_description{
    margin-bottom: var(--mb-0-75);
}

/* Portfolio Buttons */
.portfolio_button:hover .button_icon{
    transform: translateX(.25rem);

}

/* Portfolio Icons */
.swiper-button-prev::after,
.swiper-button-next::after{
    display: none; /* Display None */
}

.swiper-portfolio-icon {
    position: relative;
    top: -6rem;
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev .swiper-portfolio-icon{
    left: -.4rem;
}

.swiper-button-next .swiper-portfolio-icon{
    right: -.4rem;
}

.swiper-pagination-bullets,
.swiper-button-prev,
.swiper-button-next{
    outline: none;
}

.portfolio_blank {
    height: 3rem;
}

.modal-content
{
    background: transparent;
    border: none;
}

.youtube_video {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: block;
    border-style:none;
}

