/* Skill Layout */
.skills_container{
    row-gap: 0;
}

/* Skill Aspect Title */
.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;

    padding: .5rem;

    background-color: var(--body-color);
    transition: all .3s ease;
}

.skills_header:hover{
    border-radius: .5rem;
    background-color: var(--container-color-second);
    transition: all .3s ease;
}

.skills_icon,
.skills_arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills_icon{
    margin-right: var(--mb-0-75);
}

.skills_titles{
    font-size: var(--h3-font-size);
}

.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills_arrow{
    margin-left: auto;
    transition: all .3s ease;
}

.skills_open .skills_arrow{
    transform: rotate(-180deg);
    transition: all .3s ease;
}

/* Each Skill Title */
.skills_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

/* Each Skill Container */
.skills_list{
    row-gap: 1.5rem;
    padding-left: 3.3rem;
}

.skills_close .skills_list{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
    transition: all .3s ease-in-out;
}

/* Each Skill Bar */
.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: var(--first-color-lighter);
}

.skills_percentage{
    display: block;
    background-color: var(--first-color);
}

.skills_html{
    width: 90%;
}

.skills_css{
    width: 80%;
}

.skills_js{
    width: 65%;
}

.skills_c{
    width: 95%;
}

.skills_c2{
    width: 80%;
}

.skills_c3{
    width: 40%;
}

.skills_rust{
    width: 60%;
}

.skills_python{
    width: 90%;
}

.skills_sql{
    width: 75%;
}

.skills_assembly{
    width: 90%;
}

.skills_verilog{
    width: 75%;
}

.skills_quartus{
    width: 45%;
}

.skills_openGL{
    width: 75%;
}

.skills_shaderLab{
    width: 80%;
}

.skills_pytorch{
    width: 60%;
}

.skills_ts{
    width: 40%;
}

.skills_procreate{
    width: 95%;
}

.skills_photoshop{
    width: 45%;
}

.skills_unity{
    width: 55%;
}








