.bubble_container{
    max-height: 704px;
}

.bubble_container:hover{
    overflow-y: auto;
}

.edit_container{
    display: block;
    width: 100%;
    height: 150px;
    border-bottom: 10px solid #f7eef3; /* Border 4 */
}

/* Edit Profile Information */
.edit_profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 15px;
}

.edit_profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

    opacity: 0.9;
    transition: all 0.2s ease;
}

.edit_profile img:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    border: 1px solid #3b4880;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all 0.2s ease;
}

/* Edit Text */
.edit_profile input{
    padding: 0 0 0 10px;
    font-size: 18px;
    color: #5b7582;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
}

/* Edit Add More */
.addMore_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.addMore_icons{
    margin: 5px 10px;
    padding: 2% 1% 0 0;
}

.addMore_icons .addMore{

    height: 25px;
}

.addMore_icons .addMore:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all 0.3s ease;
}

.addMore_icons a{
    width: auto;
    filter: invert(79%) sepia(72%) saturate(3367%) hue-rotate(282deg) brightness(96%) contrast(90%);
    padding: 8px 8px;
    border-radius: 50%;  /* Bug 1. Not Working due to SVG probably */
}

.addMore_icons a:hover{
    filter: invert(40%) sepia(65%) saturate(1846%) hue-rotate(276deg) brightness(88%) contrast(90%);
    transition: all 0.3s ease;
}

.addMore_container button{
    margin: 0 30px 0 0;
    padding: 10px 25px;

    border: none;
    border-radius: 30px;

    background: #ff9fe4;

    color: white;

    font-size: 16px;
    font-weight: 700;
}

.addMore_container button:hover{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); /* Bug 2: Not Working */
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
}


