@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.layout_navbar{
    width: 99.8%;
    border-right: 1px solid #f7eef3; /* Border 1 */
    height: 1000vh; /* 100% */
}

.navbar_container{
    position: fixed;
    width: 75%;
    margin: 0 auto;
}

#navbar_logo{
    padding: 10px 4%;
    font-size: 40px;
    font-family: 'Lobster', cursive;

    background-image: linear-gradient(to right top, #CDB4DB 5%, #FFC8DD 5%, #FFAFCC 10%, #BDE0FE 40%, #A2D2FF 40%);
    background-size: 100%; /* No Repeat, similar to cover */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    display: flex;
    align-items: center;
}

#navbar_logo:hover{
    transition: all 0.3s ease;
    letter-spacing: 3px;
}

/* Navigation Bar Menu List Starts Here */
.navbar_menu{
    list-style: none;
}

.navbar_item,.navbar_btn{
    display: flex;
    align-items: center;
    padding: 5px 5%;
    margin: 15px 0px;
}

.navbar_link{
    font-size: 20px;
    font-weight: 700;
    padding: 12px 15px;
    border-radius: 30px;
    color: #5b7582;

    display: flex;
    align-items: center;
}

.navbar_img{
    padding: 0 20px 0 0;
    height: 26px;
    filter: invert(45%) sepia(14%) saturate(640%) hue-rotate(155deg) brightness(93%) contrast(93%);
}

.navbar_link:hover{
    color: #ea72c9;
    background: #fbf6f9;
    letter-spacing: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border: 2px solid #ea72c9;
    transition: all 0.3s ease;
}

.navbar_link:hover .navbar_img,.navbar_item-visiting .navbar_img{
    filter: invert(79%) sepia(72%) saturate(3367%) hue-rotate(282deg) brightness(96%) contrast(90%);
    transition: all 0.3s ease;
}

.navbar_item-visiting .navbar_link{
    color: #ea72c9;
}

/* Navigation Bar Button Starts Here */
.navbar_btn button{
    padding: 15px 80px;
    border-radius: 30px;
    outline: none;
    background: #ff9fe4;

    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.navbar_btn button:hover{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all 0.3s ease;
}

.navbar_button_img{
    display: none;
}

/* Navigation Bar Profile Starts Here */
.navbar_profile{
    display: flex;
    align-items: flex-end;

    padding: 5px 5%;
    margin: 15px 0;
}

.profile_photo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.profile_photo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s ease;
}

.profile_photo img:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    border: 1px solid #3b4880;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all 0.2s ease;
}

.profile_photo figcaption{
    font-size: 20px;
    font-weight: 700;
    padding: 12px 15px;
    color: #5b7582;
}

.profile_photo figcaption:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    letter-spacing: 2px;
    color: #3b4880;
    transition: all 0.2s ease;
}

.navbar_item-visiting figcaption{
    color: #ea72c9;
}

.assist_icon{
    height: 15px;
    margin: 5px 5px;
}

.assist_icon:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transition: all 0.2s ease;
}

/* Profile Assist Icon Pop-up Window */


/* When Left Side Bar is Hidden */
@media screen and (max-width: 1200px){
    /* Hide Logo & Dot Icon */
    #navbar_logo,.navbar_profile .assist_icon{
        display: none;
    }

    /* Hide Text */
    .navbar_link,.navbar_btn button,.profile_photo figcaption{
        font-size: 0;
        padding: 0;
    }

    .navbar_container{
        width: 10%;
    }

    /* Refactor Padding */
    .navbar_menu .navbar_item{
        padding: 0;
        border-radius: 50%;
    }

    .navbar_img,.navbar_link{
        padding: 0 5px;
        margin: 12px auto;
    }

    .navbar_link:hover{
        letter-spacing: 0;
    }

    /* Button become smaller */
    .navbar_btn button{
        padding: 10px;
        margin: 12px auto;
    }

    .navbar_button_img{
        display: flex;
        height: 26px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg) brightness(100%) contrast(103%);
    }

    /* Not Aligned Properly */
    .navbar_profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_photo a img{
        height: 45px;
        width: 45px;
        border: 1px solid #3b4880;
    }
}







