/* Section 3. Right Side Bar */
.layout_rightbar{
    width: 100%;
    height: 1000vh;
    border-left: 1px solid #f7eef3; /* Border 5 */
}

.rightbar_container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 auto;
    max-width: 500px;
}

/* Search Bar Style */
.searchBar{
    width: 100%;
    height:55px;
    align-items: center;
    background: white;
    padding: 0 2%;
}

.searchBar .search_icon{
    position: absolute;
    left: 3%;
    top: 12px;

    height: 28px;
}

.searchBar:hover .search_icon{
    filter: invert(69%) sepia(56%) saturate(3017%) hue-rotate(284deg) brightness(101%) contrast(83%);
}

.searchBar input{
    width: 100%;
    height: 40px;

    border-radius: 30px;
    outline: none;
    border: none;

    margin: 1% 0 0 0;
    padding: 0 10px 0 50px;

    background: #fbf6f9;
    color: #5b7582;
    letter-spacing: 1px;
}

.searchBar input:hover{
    border: 2px solid #ea72c9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all 0.2s ease;
}


@media screen and (max-width: 1200px){
    .searchBar{
        width: 90%;
    }
}

/* When Right side Bar is hidden */
@media screen and (max-width: 960px) {
    .layout_rightbar{
        display: none;
    }
}
