/* Section 2. Main Part */
.layout_main{
    height: 1000vh;
}

.titleBar{
    width: 99.8%;
    background: white;

    position: sticky;
    top: 0;
    z-index: 999; /* Above all */

    border-bottom: 1px solid #f7eef3; /* Border 2 */
}

.titleBar_container{
    height: 55px;
    width: 100%;

    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #f7eef3; /* Border 3 */

    background: white;
}

.titleBar_container p{
    font-weight: 900;
    font-size: 20px;
    color: #3b4880;
    margin: 3%;

    display: flex;
    align-items: center;
}

.titleBar_container .search_icon{
    height: 0; /* Not Visible */
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.titleBar_container .back_icon{
    height: 28px;
    display: flex;
    align-items: center;
}

.titleBar_container .back_icon:hover{
    filter: invert(79%) sepia(72%) saturate(3367%) hue-rotate(282deg) brightness(96%) contrast(90%);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all 0.3s ease;
}

/* When Right SIde Bar is hidden */
@media screen and (max-width: 960px) {
    /* Search icon is visible*/
    .titleBar_container .search_icon{
        height: 28px;
        transition: all 0.3s ease;
    }

    /* Click icon, search bar shows up */

}

/* When Title Bar is too short */
@media screen and (max-width: 600px) {
    /* Back icon is not visible*/
    .titleBar_container .search_icon{
        height: 0px;
        transition: all 0.3s ease;
    }
}