@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	margin: 0;
	padding: 0;
}

.wrap {
	background-image: linear-gradient(to right top, #CDB4DB, #FFC8DD, #FFAFCC, #BDE0FE, #A2D2FF);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.container {
	margin: auto;
	width: 650px;
	height: 550px;
	position: relative;
}

.welcome {
	background: white;
	width: 650px;
	height: 415px;
	position: absolute;
	top: 25%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.box {
	position: absolute;
	top: -10%;
	left: 5%;
	background: #FFC8DD;
	opacity: .98;
	width: 320px;
	height: 500px;
	border-radius: 20px;
	box-shadow: 2px 0 10px rgba(0, 0, 0, .3);
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

.hidden {
	display: none;
	transition: all 0.5s ease;
}

.leftBox, .rightBox {
	position: absolute;
	width: 50%;
	transition: 1s all ease;
}

.leftBox {
	left: -2%;
}

.rightBox {
	right: -2%;
}

h2 {
	text-align: right;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-top: 95px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 2em;
	letter-spacing: 8px;
}

.title {
	font-family: 'Lobster', cursive;
	background-image: linear-gradient(to right top, #CDB4DB, #FFC8DD, #FFAFCC 15%, #BDE0FE, #A2D2FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3em;
	line-height: 1.1em;
	letter-spacing: 3px;
	text-align: center;
	font-weight: 300;
	margin-top: 20%;
}

.desc {
	margin-top: 20px;
}

.account {
	margin-top: 45%;
	font-size: 10px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: .7em;
	letter-spacing: 2px;
	color: #5b7582;
	text-align: center;
}

span {
	color: #A2D2FF;
}

.logo {
	position: absolute;
	width: 125px;
	height: 125px;
	top: 45%;
	left: 30%;
	opacity: .8;
}

button {
	padding: 9px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	border-radius: 20px;
	margin: auto;
	outline: none;
	display: block;
}

button:hover {
	background: white;
	color: #A2D2FF;
	letter-spacing: 6px;
	transition: letter-spacing .3s ease-out;
}

.subButton {
	padding: 9px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	border-radius: 20px;
	margin: auto;
	outline: none;
	display: block;
}

.subButton:hover {
	background: white;
	color: #A2D2FF;
	letter-spacing: 6px;
	transition: letter-spacing .3s ease-out;
}

.button {
	margin-top: 3%;
	background: white;
	color: #A2D2FF;
	border: 2px solid #A2D2FF;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 7px;
}

.more-padding {
	padding-top: 35px;
}

.more-padding input {
	padding: 12px;
}

.more-padding .submitButton {
	margin-top: 45px;
}

.submitButton {
	background: #FFC8DD;
	color: #ffffff;
	margin-top: 40px;
	font-size: 15px;
	padding: 12px;
	border: 3px solid white;
}

.submitButton:hover {
	color: #ffffff;
	background: #FFC8DD;
}

.accountInput {
	background: #FFC8DD;
	width: 65%;
	color: #ffffff;
	border: none;
	border-bottom: 3px solid rgb(255, 255, 255);
	padding: 12px;
	font-weight: 100;
}

.accountInput::placeholder {
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 1.0em;
	font-weight: 100;
}

.accountInput:focus {
	color: #ffffff;
	outline: none;
	border-bottom: 2px solid #FF70A5;
	font-size: 1.0em;
	transition: 0.5s all ease;
}

.accountInput:focus::placeholder {
	opacity: 0;
}

label {
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	font-size: 0.8em;
	letter-spacing: 1px;
}

/*.checkbox {*/
/*	display: inline;*/
/*	white-space: nowrap;*/
/*	position: relative;*/
/*	left: -26px;*/
/*	top: 25px;*/
/*}*/

/*input[type=checkbox] {*/
/*	width: 15px;*/
/*	background: #ffffff;*/
/*}*/

/*.checkbox input[type=checkbox]:checked + label {*/
/*	color: #ffffff;*/
/*	transition: 0.5s all ease;*/
/*}*/