@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Parallel scrolling */
html,
body {
	margin: 0;
	padding: 0;
	height: 200vh;
	overflow-x: hidden;
}

.background {
	background-image: url("../picResources/overlapped2.png");
	background-size: cover;
	background-position: 50% 50%;
	height: 200vh;
	font: 900 16rem '';
	line-height: 130vh;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.background span {
	font-family: 'Lobster', cursive;
	-webkit-text-stroke: 4px white;
}

.background::before {
	content: '';
	background-size: cover;
	background-image: url("../picResources/bgp.png");
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -99;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	top: 160px;
	position: absolute;
	text-align: center;
	width: 100%;
	letter-spacing: 10px;
	color: #fff;
}

.loginButton {
	position: absolute;
	left: 1200px;
	top: 30px;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	transition: 0.3s ease-out;
}

.loginButton a {
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	font-size: 20px;
	background-image: linear-gradient(to right top,#FFC8DD,#A2D2FF);
	padding: 20px 30px;
	line-height: 8px;
	border-radius: 20px;
	border: 5px solid #ffffff;
	margin: auto;
	outline: none;
	display: block;
}

.loginButton:hover {
	left: 1195px;
	letter-spacing: 6px;
}

/* Information Card */
.contain {
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	left: 100px;
	top: 850px;
	padding: 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card {
	border: 3px solid white;
	text-align: center;
	border-radius: 20px;
	height: 320px;
	width: 350px;
	margin: 0 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
	background: white;
	transition: 0.4s;
}

.card:hover {
	height: 470px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
}

.card .img {
	position: relative;
	top: 20px;
	height: 200px;
	width: 100%;
}

.card .img img {
	border-radius: 20px;
	height: 100%;
	width: 90%;
	object-fit: cover;
}

.card .top-text {
	position: relative;
	top: 30px;
	padding: 5px;
}

.card .top-text .name {
	font-size: 25px;
	font-weight: 600;
	color: #A2D2FF;
}

.card .top-text p {
	font-size: 20px;
	font-weight: 600;
	color: #FFAFCC;
	line-height: 20px;
}

.card .bottom-text {
	position: relative;
	top: 20px;
	border-radius: 20px;
	padding: 0 20px 10px 20px;
	margin-top: 20px;
	background: white;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.card:hover .bottom-text {
	opacity: 1;
	visibility: visible;
}

.card .bottom-text .text {
	text-align: justify;
}

.card .bottom-text .readMore {
	position: relative;
	top: 20px;
	margin: 10px 0;
	text-align: center;
}

.card .bottom-text .readMore a {
	letter-spacing: 1px;
	text-decoration: none;
	background-image: linear-gradient(to right top, #FFAFCC, #A2D2FF);
	color: #ffffff;
	padding: 8px 10px;
	border-radius: 20px;
	display: inline-flex;
	transition: 0.3s;
}

.card .bottom-text .readMore a:hover {
	color: #ffffff;
	letter-spacing: 3px;
}






/*!* 3D spinning picture show *!*/
/*.frame-a {*/
/*	position:absolute;*/
/*	perspective: 1600px;*/
/*	top: 2000px;*/
/*	left: 700px;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*}*/

/*.container-b {*/
/*	width: 400px;*/
/*	height: 250px;*/
/*	position: absolute;*/
/*	transform-style: preserve-3d;*/
/*	animation: frame-a 10s infinite cubic-bezier(.7, 0, .17, 1);*/
/*}*/

/*.container-b div {*/
/*	position: absolute;*/
/*	background-size: cover;*/
/*	opacity: .95;*/
/*	width: 400px;*/
/*	height: 250px;*/
/*	transform: rotateY(calc(var(--i) * 72deg)) translateZ(380px);*/
/*}*/

/*.container-b img {*/
/*	height: 250px;*/
/*	width: 400px;*/
/*}*/

/*@keyframes frame-a {*/
/*	0% {*/
/*		transform: translateZ(-100px) rotateY(0);*/
/*	}*/
/*	20% {*/
/*		transform: translateZ(-100px) rotateY(-72deg);*/
/*	}*/
/*	40% {*/
/*		transform: translateZ(-100px) rotateY(-144deg);*/
/*	}*/
/*	60% {*/
/*		transform: translateZ(-100px) rotateY(-216deg);*/
/*	}*/
/*	80% {*/
/*		transform: translateZ(-100px) rotateY(-288deg);*/
/*	}*/
/*	100% {*/
/*		transform: translateZ(-100px) rotateY(-360deg);*/
/*	}*/

/*}*/

/*.pic-c {*/
/*	border: 3px solid white;*/
/*	border-radius: 15%;*/
/*	overflow: hidden;*/
/*	-webkit-box-reflect: below 0px*/
/*	-webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));*/
/*}*/

/*.pic-d {*/
/*	border: 3px solid white;*/
/*	border-radius: 15%;*/
/*	overflow: hidden;*/
/*	-webkit-box-reflect: below 0px*/
/*	-webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));*/
/*}*/

/*.pic-e {*/
/*	border: 3px solid white;*/
/*	border-radius: 15%;*/
/*	overflow: hidden;*/
/*	-webkit-box-reflect: below 0px*/
/*	-webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));*/
/*}*/

/*.pic-f {*/
/*	border: 3px solid white;*/
/*	border-radius: 15%;*/
/*	overflow: hidden;*/
/*	-webkit-box-reflect: below 0px*/
/*	-webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));*/
/*}*/

/*.pic-g {*/
/*	border: 3px solid white;*/
/*	border-radius: 15%;*/
/*	overflow: hidden;*/
/*	-webkit-box-reflect: below 0px*/
/*	-webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));*/
/*}*/